<%-include('partials/header')-%>
    <%posts.forEach(post => {%>
        <h1><%=post.title%></h1>
        <%if(post.title==="Home"){%>
            <p><%=post.content%></p>
        <%}else{%>
            <p><%=post.content.substring(0, 100) + " ..."%></p>
            <a href="/posts/<%=post._id%>">Read More</a>
        <%}%>
    <%});%>

<%-include('partials/footer')-%>



